body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}
.carousel-inner {
  padding:7% 15%;;
}
.container-fluid {
  padding: 7% 15%;
}
#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}
.cta-h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.5;
}
.cta-button {
  margin: 3%;
}
.download-button {
  margin: 5% 3% 5% 0;
  padding: .5rem;
}
.features-icon {
  font-size: 65px;
  color: #ef8172;
  margin-bottom: 16px;
}
.features-icon:hover {
  color: #ff4c68;
}
#features {
  position: relative;
  padding-top: 50px;
  text-align: center;
  color: #8f8f8f;
  background-color: white;
}
.features-box {
  margin-bottom: 50px;
}
#footer {
  text-align: center;
  padding: 7% 15%;
  background-color: white;
}
.footer-logo {
  margin: 1.5%;
}
.header {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
h3 {
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}
.iphone {
  transform: rotate(25deg);
  right: 30%;
  width: 60%;
  position: absolute;
}
.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
    padding: 0px 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-weight: lighter;
}
#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}
#pricing {
  padding: 100px;
}
.pricing-column{
  padding: 3% 2%;
  text-align: center;
}
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}
.testimonials-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
#title {
  background-color: #ff4c68;
  overflow: hidden;
  /* height: 100vh; */
}

@media (max-width: 1020px) {
  .iphone {
    position: static;
    transform: rotate(0deg);
  }
  .header-row {
    text-align: center;
  }
}