body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}
.container-fluid {
  padding: 7% 15%;
}

.download-button {
  margin: 5% 3% 5% 0;
}
.features-icon {
  font-size: 65px;
  color: #ef8172;
  margin-bottom: 16px;
}
.features-icon:hover {
  color: #ff4c68;
}
#features {
  padding-top: 50px;
  text-align: center;
  color: #8f8f8f;
}
.features-box {
  margin-bottom: 50px;
}
.header {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
h3 {
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}
.iphone {
  margin-left: 100px;
  margin-bottom: -170px;
  transform: rotate(25deg);
  width: 60%;
  /* height: 60%; */
}
.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
    padding: 0px 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-weight: lighter;
}
#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: white;
}
.testimonials-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
#title {
  background-color: #ff4c68;
  overflow: hidden;
  height: 100vh;
}
